.wrapper {
  position: relative;
  transition: transform .25s ease, opacity .25s ease;
  grid-column: span 6;
}

@media (min-width: 37.5rem) {
  .wrapper {
    grid-column: span 4;
  }
}

@media (min-width: 75rem) {
  .wrapper {
    grid-column: span 3;
  }
}

.wrapper.dragging {
  transition: none;
  z-index: 1;
}

.wrapper.over {
  opacity: .4;
  transform: scale(.95);
}

.handle {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: .1rem;
  cursor: grab;
  touch-action: none;
  z-index: 1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8.5rem;
  padding: 1rem;
  color: var(--on-secondary-container);
  background-color: var(--secondary-container);
  border-radius: 1rem;
  text-decoration: none;
  transition: border-radius .25s ease, opacity .25s ease;
}

.card:not(.parent) .title {
  text-indent: 1rem;
}

.card:hover {
  opacity: .8;
}

.card:focus {
  opacity: .6;
}

.card:active {
  border-radius: 2.5rem;
}

.card.parent {
  padding: 2rem;
  background-color: var(--surface-container);
  border-radius: 2.5rem;
}

.card.parent:active {
  border-radius: 1rem;
}

.title {
  display: -webkit-box;
  margin-bottom: .5rem;
  font-size: 1.25rem;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.subtitle {
  display: flex;
  align-items: center;
  gap: .25rem;
  font-size: .75rem;
}

.details {
  display: flex;
  gap: .5rem;
}

.details.end {
  align-self: flex-end;
}
