.header {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.emoji {
  padding-left: .5rem;
  font-family: "Noto Color Emoji", sans-serif;
}

.notifications {
  grid-column: span 12;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--surface-container);
  border-radius: 1rem;
}

@media (min-width: 56.25rem) {
  .notifications {
    grid-column: span 6;
  }
}
