.grid {
  margin: 1rem 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: .5rem;
  color: var(--on-surface);
  background-color: var(--surface);
  border: 1px solid var(--surface-outline);
  border-radius: 1rem;

  & > :last-child {
    align-self: flex-end;
  }
}
