.button {
  position: relative;
  display: block;
  padding: .5rem;
  color: var(--on-accent);
  background-color: var(--accent);
  border: 1px solid var(--accent-outline);
  border-radius: .5rem;
  appearance: none;
  text-align: center;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    background-color: var(--accent-hover);
  }

  &:active {
    background-color: var(--accent-click);
  }

  &.disabled {
    pointer-events: none;
    opacity: .5;
  }
}

.icon {
  margin-right: .25rem;
}

.loading {
  visibility: hidden;
}

.spinner {
  position: absolute;
  top: .5rem;
  left: calc(50% - .5rem);
  pointer-events: none;
}
