.button {
  padding: .5rem .75rem;
  color: var(--on-surface);
  background-color: var(--surface);
  border: 1px solid var(--outline);
  border-radius: .5rem;
  appearance: none;

  &:hover {
    cursor: pointer;
  }
}

.icon {
  margin-right: .25rem;
}
