.list {
  display: flex;
  color: var(--on-color);
  background-color: var(--color);
  border-radius: .5rem;

  & > button, & > a {
    padding: .5rem;
    color: inherit;
    background-color: inherit;
    text-decoration: none;

    &:hover {
      background-color: var(--color-hover);
    }

    &:active {
      background-color: var(--color-click);
    }

    &:first-child {
      border-bottom-left-radius: .5rem;
      border-top-left-radius: .5rem;
    }

    &:last-child {
      border-bottom-right-radius: .5rem;
      border-top-right-radius: .5rem;
    }

    &:not(:last-child) {
      border-right: 1px solid var(--color-outline);
    }
  }

  &.vertical {
    flex-direction: column;

    & > button, & > a {
      border-radius: 0;
      border-right: none;

      &:first-child {
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
      }

      &:last-child {
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--color-outline);
      }
    }
  }

  &.small {
    & > button, & > a {
      padding: .25rem .5rem;
    }
  }
}
