.vertical {
  padding: .5rem;
  border: 1px solid var(--surface-outline);
  border-radius: 1rem !important;
}

.active {
  color: var(--on-accent);
  background-color: var(--accent);

  &:hover {
    background-color: var(--accent-hover) !important;
  }

  &:active {
    background-color: var(--accent-click) !important;
  }
}
