.header {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  top: 0;
  height: 5.5rem;
  padding: 0 1rem;
  background-color: var(--surface-container);
}

.header::before {
  position: absolute;
  content: "Gfy";
  left: 50%;
  font-family: "Lora", serif;
  font-size: 1.5rem;
  transform: translateX(-50%);
}

@media (min-width: 37.5rem) {
  .header::before {
    content: "Glossify";
  }
}

@media (min-width: 56.25rem) {
  .header::before {
    content: none;
  }
}

.main {
  margin: 1rem;
}
