.anchor {
  padding: 0;
  background-color: transparent;
  border: none;
  appearance: none;

  &:hover {
    cursor: pointer;
  }
}

.popover {
  inset: unset;
  position-try-options: flip-block;
  position-visibility: anchors-visible;
  padding: 0;
  background-color: transparent;
  border: none;
}
