.table {
  width: 100%;
  color: var(--on-color);
  border: 1px solid var(--color-outline);
  border-radius: .5rem;
  border-spacing: 0;
}

.column, .row, .cell {
  outline: none;

  &[data-focus-visible] {
    outline: 5px auto -webkit-focus-ring-color;
  }
}

.column, .cell {
  position: relative;
  padding: .5rem;
}

.column {
  border-bottom: 1px solid var(--color-outline);
  color: var(--on-color-subtle);
  background-color: var(--color);
  text-align: start;

  &:first-child {
    border-top-left-radius: .5rem;
  }

  &:last-child {
    border-top-right-radius: .5rem;
  }
}

.row:not(:last-child) > .cell {
  border-bottom: 1px solid var(--color-outline);
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding: 1rem 0;
}
