.row {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.empty {
  font-style: italic;
  opacity: .5;
}

.tag {
  display: flex;
  align-items: center;
  color: var(--on-accent);
  background-color: var(--accent);
  border-radius: 1000px;

  & .name {
    padding: 0 .25rem 0 .5rem;
  }
}
