@keyframes slideIn {
  from {
    transform: translateX(calc(-100% - 2rem));
  }
  to {
    transform: none;
  }
}

@keyframes slideOut {
  from {
    transform: none;
  }
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}

.notification {
  position: fixed;
  display: flex;
  align-items: center;
  left: 1rem;
  max-width: calc(100% - 2rem);
  height: 3rem;
  padding: 0 1rem;
  color: var(--on-secondary);
  background-color: var(--secondary);
  border-radius: 1rem;
  transition: bottom .25s ease;
  z-index: 600;
}
