.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: color-mix(in srgb, var(--on-background) 25%, transparent);

  &[data-entering] {
    animation: fade-in .1s ease;
  }
}

.modal {
  &[data-entering] {
    animation: slide-in .1s ease, fade-in .1s ease;
  }
}

.dialog {
  display: flex;
  flex-direction: column;
  max-width: calc(100dvw - 2rem);
  max-height: calc(100dvh - 2rem);
  color: var(--on-background);
  background-color: var(--background);
  border: 1px solid var(--background-outline);
  border-radius: 1rem;
  outline: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  border-bottom: 1px solid var(--background-outline);
}

.content {
  padding: .5rem;
  overflow: auto;
}

@keyframes slide-in {
  from {
    transform: translateY(.5rem);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
