.popover {
  inset: unset;
  position-try-options: flip-block, flip-inline, flip-block flip-inline;
  position-visibility: anchors-visible;
  padding: 0;
  background-color: transparent;
  border: none;
}
