.jumbo {
  margin-bottom: .5rem;
}

.title {
  margin: 2rem 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.words {
  margin-top: 1rem;
  font-size: .8rem;
  font-weight: 600;
  text-transform: uppercase;
}
