@use "../../utils";

.title {
  padding: 2.5rem 0;
  border-bottom: 1px solid var(--background-outline);
  font-size: 2rem;
}

.content {
  @include utils.with-breakpoint(laptop) {
    padding-top: 1rem;
  }
}

.separator {
  align-self: stretch;
  padding: 1rem 0;
  border-bottom: 1px solid var(--background-outline);

  @include utils.with-breakpoint(laptop) {
    padding: 1rem 1rem 0 0;
    border-bottom: none;
    border-right: 1px solid var(--background-outline);
  }
}
