@use "modern-normalize";
@use "@fortawesome/fontawesome-svg-core/styles.css";
@use "utils";

:root {
  @include utils.with-colors(light);

  @media (prefers-color-scheme: dark) {
    @include utils.with-colors(dark);
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  color: var(--on-background);
  background-color: var(--background);
  font-family: "Noto Sans", sans-serif;
}

.error-boundary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  height: 100dvh;

  &-info {
    margin: 0;
    padding: .5rem;
    color: var(--on-surface);
    background-color: var(--surface);
    border: 1px solid var(--surface-outline);
    border-radius: .5rem;
  }
}

input, select, button {
  padding: 0;
  background: none;
  border: none;
  appearance: none;
}

button {
  text-align: start;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    pointer-events: none;
    opacity: .5;
  }
}
