@use "@fortawesome/fontawesome-svg-core/styles.css";
@use "modern-normalize";
@use "utils" with (
  $colors: (
    gray: (
      colors: #ffffff #1f1f1f,
      shades: 0 50 100 150 200 250 300 350 400 450 500
    ),
    yellow: (
      colors: #eea83b #ca763b,
      shades: 100 200 300 400 500
    )
  ),
  $tokens: (
    background: (
      light: gray 0,
      dark: gray 500
    ),
    on-background: (
      light: gray 400,
      dark: gray 0
    ),
    on-background-subtle: (
      light: gray 150,
      dark: gray 300
    ),
    background-hover: (
      light: gray 50,
      dark: gray 450
    ),
    background-click: (
      light: gray 100,
      dark: gray 400
    ),
    background-outline: background-hover,

    surface: (
      light: gray 50,
      dark: gray 450
    ),
    on-surface: on-background,
    on-surface-subtle: (
      light: gray 200,
      dark: gray 250
    ),
    surface-hover: (
      light: gray 100,
      dark: gray 400
    ),
    surface-click: (
      light: gray 150,
      dark: gray 350
    ),
    surface-outline: surface-hover,

    surface-variant: (
      light: gray 100,
      dark: gray 400
    ),
    on-surface-variant: on-background,
    on-surface-variant-subtle: (
      light: gray 250,
      dark: gray 200
    ),
    surface-variant-hover: (
      light: gray 150,
      dark: gray 350
    ),
    surface-variant-click: (
      light: gray 200,
      dark: gray 300
    ),
    surface-variant-outline: surface-variant-hover,

    accent: yellow 300,
    on-accent: gray 500,
    accent-hover: yellow 200,
    accent-click: yellow 400,
    accent-outline: (
      light: yellow 500,
      dark: yellow 100
    )
  )
);

:root {
  color-scheme: light dark;

  @include utils.with-colors;
}

body {
  color: var(--on-background);
  background-color: var(--background);
}
