@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "sass:meta";

$breakpoints: (
  phone: 0rem,
  tablet: 37.5rem,
  laptop: 56.25rem,
  desktop: 75rem
);

$colors: (
  gray: (
    colors: #ffffff #121212,
    shades: 0 50 100 200 300 400 450 500
  ),
  yellow: (
    colors: #eea83b #ca763b,
    shades: 100 200 300 400 500
  )
);

$tokens: (
  background: (
    light: gray 0,
    dark: gray 500
  ),
  on-background: (
    light: gray 400,
    dark: gray 0
  ),
  on-background-subtle: (
    light: gray 100,
    dark: gray 300
  ),
  background-hover: (
    light: gray 50,
    dark: gray 450
  ),
  background-click: (
    light: gray 100,
    dark: gray 400
  ),
  background-outline: background-hover,

  accent: yellow 300,
  on-accent: gray 500,
  accent-hover: yellow 200,
  accent-click: yellow 400,
  accent-outline: (
    light: yellow 500,
    dark: yellow 100
  ),

  surface: background-hover,
  on-surface: on-background,
  on-surface-subtle: (
    light: gray 200,
    dark: gray 300
  ),
  surface-hover: background-click,
  surface-click: (
    light: gray 200,
    dark: gray 300
  ),
  surface-outline: surface-hover,

  surface-variant: background-click,
  on-surface-variant: on-background,
  on-surface-variant-subtle: (
    light: gray 200,
    dark: gray 300
  ),
  surface-variant-hover: (
    light: gray 200,
    dark: gray 300
  ),
  surface-variant-click: (
    light: gray 300,
    dark: gray 200
  ),
  surface-variant-outline: surface-variant-hover,

  input: gray 0,
  on-input: gray 500,
  input-outline: on-background-subtle
);

@mixin with-breakpoint($breakpoint) {
  $width: map.get($breakpoints, $breakpoint);

  @if $width > 0 {
    @media (min-width: #{$width}) {
      @content
    }
  } @else {
    @content
  }
}

@function generate-shades($start, $end, $shades) {
  $result: ();
  $length: list.length($shades);
  $min: math.min($shades...);
  $max: math.max($shades...);

  @each $shade in $shades {
    $weight: if($length > 1, math.percentage((($shade - $max) * math.div(1, $min - $max))), 0%);
    $result: map.set($result, $shade, color.mix($start, $end, $weight));
  }

  @return $result;
}

@function generate-palette($colors) {
  $result: ();

  @each $color, $config in $colors {
    $colors: map.get($config, colors);
    $shades: map.get($config, shades);
    $result: map.set($result, $color, generate-shades(list.nth($colors, 1), list.nth($colors, 2), $shades));
  }

  @return $result;
}

@function get-color($token, $theme) {
  $colors: map.get($tokens, $token);
  $color: if(meta.type-of($colors) == 'map', map.get($colors, $theme), $colors);

  @if meta.type-of($color) == 'string' {
    $color: get-color($color, $theme);
  }

  @return $color;
}

@mixin with-colors($theme) {
  $palette: generate-palette($colors);

  @each $token in map.keys($tokens) {
    $color: get-color($token, $theme);

    --#{$token}: #{map.get(map.get($palette, list.nth($color, 1)), list.nth($color, 2))};
  }
}
