$breakpoints: (
  phone: 0,
  tablet: 37.5,
  laptop: 56.25,
  desktop: 75
);

@mixin with-breakpoint($breakpoint) {
  $width: map-get($breakpoints, $breakpoint);

  @if $width > 0 {
    @media (min-width: #{$width}rem) {
      @content
    }
  } @else {
    @content
  }
}

$colors: (
  primary: (#695f00, #d8c84f),
  on-primary: (#ffffff, #373100),
  primary-container: (#f5e568, #4f4700),
  on-primary-container: (#201c00, #f5e568),
  secondary: (#645f41, #cec7a2),
  on-secondary: (#ffffff, #353117),
  secondary-container: (#ebe3bd, #4c472b),
  on-secondary-container: (#1f1c05, #ebe3bd),
  tertiary: (#416652, #a7d0b7),
  on-tertiary: (#ffffff, #113726),
  tertiary-container: (#c2ecd2, #294e3b),
  on-tertiary-container: (#002113, #c2ecd2),
  error: (#ba1a1a, #ffb4ab),
  on-error: (#ffffff, #690005),
  error-container: (#ffdad6, #93000a),
  on-error-container: (#410002, #ffdad6),
  background: (#fffbff, #1d1c16),
  on-background: (#201a17, #e7e2d9),
  surface: (#fef9f0, #14130e),
  on-surface: (#1d1c16, #cac6bd),
  surface-variant: (#e8e2d0, #4a473a),
  on-surface-variant: (#4a473a, #ccc6b5),
  surface-container: (#f2ede4, #21201a),
  outline: (#7b7768, #959181),
  shadow: (#000000, #000000)
);

@mixin with-colors($theme) {
  $index: map-get((
    light: 1,
    dark: 2
  ), $theme);

  @each $color, $hex in $colors {
    --#{$color}: #{nth($hex, $index)};
  }
}

@mixin with-interactions($color) {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var($color);
    opacity: 0;
    border-radius: inherit;
    transition: opacity .25s ease;
    pointer-events: none;
  }

  &:hover::before, &:focus::before {
    opacity: 8%;
  }

  &:active::before {
    opacity: 12%;
  }
}
