.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--surface-container);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--surface);
  border-radius: 1rem;
}

.logo {
  align-self: center;
  margin-bottom: 2rem;
  color: var(--on-surface);
  font-family: "Lora", serif;
  font-size: 2rem;
}
