@import "../utils";

.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include with-breakpoint(laptop) {
    flex-direction: row;
  }
}

.content {
  flex: 1;

  @include with-breakpoint(laptop) {
    order: 1;
  }
}
