@import "../utils";

.header {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  top: 0;
  height: 5.5rem;
  padding: 0 1rem;
  color: var(--on-surface-container);
  background-color: var(--surface-container);

  &::before {
    position: absolute;
    content: "gfy";
    left: 50%;
    font-family: "Lora", serif;
    font-size: 1.5rem;
    transform: translateX(-50%);

    @include with-breakpoint(tablet) {
      content: "glossify";
    }

    @include with-breakpoint(laptop) {
      content: none;
    }
  }
}

.main {
  margin: 1rem;
}
