@import "../utils";

$spaces: 3;

.row {
  display: flex;
  flex-wrap: wrap;

  @each $breakpoint, $width in $breakpoints {
    @include with-breakpoint($breakpoint) {
      @for $space from 1 through $spaces {
        &.#{$breakpoint}-#{$space} {
          margin: -#{calc($space / 2)}rem;

          & > div {
            padding: #{calc($space / 2)}rem;
          }
        }
      }
    }
  }
}
