.navigation {
  padding: .75rem 0;
  color: var(--on-surface);
  background-color: var(--surface);
  border-bottom: 1px solid var(--surface-outline);
}

.inner {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.title {
  flex: 1;
}

.avatar {
  padding: .5rem;
  color: var(--on-surface-variant);
  background-color: var(--surface-variant);
  border-radius: 50%;
  vertical-align: middle;

  &:hover {
    background-color: var(--surface-variant-hover);
  }

  &:active {
    background-color: var(--surface-variant-click);
  }
}
