.button {
  position: relative;
  display: block;
  padding: .5rem;
  color: var(--on-color);
  background-color: var(--color);
  border: 1px solid var(--color-outline);
  border-radius: .5rem;
  text-align: center;

  &:hover {
    cursor: pointer;
    background-color: var(--color-hover);
  }

  &:active {
    background-color: var(--color-click);
  }

  &:disabled {
    pointer-events: none;
    opacity: .5;
  }

  &.small {
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    border-radius: 50%;
  }
}

.icon {
  margin-right: .25rem;
}

.loading {
  visibility: hidden;
}

.spinner {
  position: absolute;
  top: .5rem;
  left: calc(50% - .5rem);
  pointer-events: none;
}
