@use "../../utils";

.button {
  --extra-padding: 0rem;

  position: relative;
  display: block;
  padding: var(--padding) calc(var(--padding) + var(--extra-padding));
  color: var(--on-color);
  background-color: var(--color);
  outline: none;

  &[data-hovered] {
    background-color: var(--color-hover);
    cursor: pointer;
  }

  &[data-pressed] {
    background-color: var(--color-click);
  }

  &[data-disabled] {
    opacity: .5;
  }

  &[data-focus-visible] {
    outline: 5px auto -webkit-focus-ring-color;
  }

  &.size {
    &-small {
      --padding: .25rem;
    }

    &-medium {
      --padding: .5rem;
    }

    &-big {
      --padding: .75rem;
    }
  }

  &.shape {
    &-square {
      border-radius: .5rem;
    }

    &-round {
      border-radius: 1000px;
    }
  }

  &.variant {
    &-outlined {
      border: 1px solid var(--color-outline);
    }

    &-flat {
      border: none;
    }
  }
}

.inner {
  display: flex;
  align-items: center;
  gap: .25rem;

  &.pending {
    visibility: hidden;
  }
}

.text {
  display: none;
}

.icon {
  width: 1rem;
}

.spinner {
  position: absolute;
  top: calc(50% - .5rem);
  left: calc(50% - .5rem);
}

@each $breakpoint, $width in utils.$breakpoints {
  @include utils.with-breakpoint($breakpoint) {
    .text-#{$breakpoint} {
      & .icon {
        width: auto;
      }

      & .text {
        display: unset;
      }

      &.shape-round {
        --extra-padding: .25rem;
      }
    }
  }
}
