.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: 1rem;
  color: var(--on-primary);
  background-color: var(--primary);
  border-radius: 2rem;
  font-weight: 600;
  transition: opacity .25s ease, border-radius .25s ease;
}

.button:hover {
  opacity: .9;
}

.button:focus {
  opacity: .8;
}

.button:disabled {
  opacity: .4;
  pointer-events: none;
}

.button:active {
  border-radius: 1rem;
}

.iconOnly {
  display: none
}

@media (min-width: 37.5rem) {
  .iconOnly.tablet {
    display: inline
  }
}

@media (min-width: 56.25rem) {
  .iconOnly.laptop {
    display: inline
  }
}

@media (min-width: 75rem) {
  .iconOnly.desktop {
    display: inline
  }
}

.content, .spinner {
  transition: opacity .25s ease;
}

.spinner {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.loading > .content {
  opacity: 0;
}

.loading > .spinner {
  opacity: 1;
}
