.wrapper {
  position: relative;
  display: flex;
}

.label:hover::before {
  opacity: .9;
}

.checkbox:focus ~ .label::before {
  opacity: .8;
}

.checkbox:disabled ~ .label::before {
  opacity: .4;
  pointer-events: none;
}

.label:active::before {
  border-radius: 1rem;
}

.checkbox:checked ~ .label::before {
  background-color: var(--outline);
}

.label {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.label::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--outline);
  border-radius: .25rem;
  transition: background-color .25s ease, border-radius .25s ease, opacity .25s ease;
}
