.wrapper {
  display: flex;
  flex-direction: column;
  color: var(--on-input);
  background-color: var(--input);
  border: 1px solid var(--input-outline);
  border-radius: .5rem;
}

.label {
  margin: 0 .5rem;
  padding: .25rem 0;
  color: var(--on-input);
  border-bottom: 1px solid var(--input-outline);
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.input {
  padding: .5rem;
  color: inherit;
  background-color: inherit;
  border-radius: inherit;
}

.message-wrapper {
  padding: 0 .5rem .5rem;
  background-color: var(--input);
  border: 1px solid var(--input-outline);
  border-top: none;
  border-radius: 0 0 1rem 1rem;
}

.message {
  padding: .5rem;
  color: var(--on-error);
  background-color: var(--error);
  border-radius: 0 0 .5rem .5rem;
}
