.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  margin: 0 .5rem;
  color: var(--on-surface-subtle);
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
}

.input {
  padding: .5rem;
  color: var(--on-input);
  background-color: var(--input);
  border: 1px solid var(--input-outline);
  border-radius: .5rem;

  &.issue {
    border-bottom: none;
    border-radius: .5rem .5rem 0 0;
  }
}

.message-wrapper {
  padding: 0 .5rem .5rem;
  background-color: var(--input);
  border: 1px solid var(--input-outline);
  border-top: none;
  border-radius: 0 0 1rem 1rem;
}

.message {
  padding: .5rem;
  color: var(--on-error);
  background-color: var(--error);
  border-radius: 0 0 .5rem .5rem;
}
